<html>
   <body>
      <form action = "http://localhost:5000/books" method = "post">
         <p>Name:</p>
         <p><input type = "text" name = "name" required="true" /></p>
         <p>UserID:</p>
         <p><input type = "number" name = "uid" required="true" /></p>
         <p>Age:</p>
         <p><input type = "text" name = "age" required="true" /></p>
         <p>Email ID:</p>
<!--         <p><input type = "text" name = "email" required="true" /></p>-->
         <p><input type = "submit" value = "Login" /></p>
      </form>
   </body>
</html>